:root {
  --font-inter: "Inter", sans-serif;
  --font-nunito: "Nunito", sans-serif;

  --color-pink: #fd377e;
  --color-green: #03b898;
  --color-black: #212529;
  --color-darkGrey: #868e96;
  --color-lightGrey: #e9ecef;
  --color-white: #f8f9fa;
}
